.carouselIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px
        linear-gradient(transparent, transparent, #0002, #0004);
}

.CartelImagenes {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 700px;
    background-color: #222e50;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CartelImagenesCardCard {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.CartelImagenesCard {
    width: 300px;
    height: 400px;
    border: solid black 1px;
}

.CartelImagenesCard:nth-child(even) {
    margin-top: 100px;
    transform: rotate(10deg);
    background-size: cover;
}

.CartelImagenesCard:nth-child(odd) {
    transform: rotate(-10deg);
    background-size: cover;
}
.ImagenMusicDeCadaUno {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 400px;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.RandomNombre {
    margin-top: 10px;
    display: flex;
    width: 80%;
    height: auto;
    min-height: 300px;
    flex-wrap: wrap;
    border: solid black 1px;
    justify-content: center;
}
.RandomNombreCard {
    width: 23%;
    height: 150px;
    display: flex;
    border: solid 1px red;
    margin: 10px;
    background-size: cover;
}
